
header {
    background-color:blue;
    color:white;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:red;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
.desc{
    font-style: italic;
}
alka { 
    display: block;
    width:100px;
}